# Default owner
* @loopcoded

backend/ @loopcoded @MONALISHA773 @Aaryan-V @Pranshult25 @Priyansh-Minda

frontend/ @loopcoded @MONALISHA773 @Aaryan-V @Pranshult25 @Priyansh-Minda

db/ @loopcoded @MONALISHA773 @Aaryan-V @Pranshult25 @Priyansh-Minda

.github/ @loopcoded